.heading{
    font-size: 23px;
    width: 100%;
    margin: 0px;
}

.note{
    font-size: 15px;
    color: darkgoldenrod;
}

body{
    background-size: cover;
}

canvas{
    border: 5px solid coral;
    border-radius: 20px;
}